{% extends "layout.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ legend }}</h1>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                    <a class="btn btn-secondary" href="{{ url_for('users') }}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} 