{% extends "layout.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ legend }}</h1>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.user_id.label(class="form-control-label") }}
                    {% if form.user_id.errors %}
                        {{ form.user_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_id(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.room_id.label(class="form-control-label") }}
                    {% if form.room_id.errors %}
                        {{ form.room_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.room_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.room_id(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.check_in_date.label(class="form-control-label") }}
                    {% if form.check_in_date.errors %}
                        {{ form.check_in_date(class="form-control is-invalid", type="date") }}
                        <div class="invalid-feedback">
                            {% for error in form.check_in_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.check_in_date(class="form-control", type="date") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.check_out_date.label(class="form-control-label") }}
                    {% if form.check_out_date.errors %}
                        {{ form.check_out_date(class="form-control is-invalid", type="date") }}
                        <div class="invalid-feedback">
                            {% for error in form.check_out_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.check_out_date(class="form-control", type="date") }}
                    {% endif %}
                </div>
                <div class="form-check mb-4">
                    {{ form.is_confirmed(class="form-check-input") }}
                    {{ form.is_confirmed.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                    <a class="btn btn-secondary" href="{{ url_for('bookings') }}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} 